################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Proyecto 1/.vs/Proyecto 1
/Proyecto 2/.vs/Proyecto 2
/Proyecto 2/Proyecto 2/.vs
